[push]
	default = simple
[core]
	excludesfile = /home/qa/.gitignore
	eol = lf
	autocrlf = input
[user]
	email = vaeum@mail.ru
	name = Alexander Anpleenko
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
