[include]
    path = ~/.gitconfig-personal.conf
[includeIf "gitdir/i:projects/work/"]
    path = ~/.gitconfig-work.conf
[core]
    editor = vim
    # editor = code --wait
    # editor = subl -n -w
    excludesfile = ~/.gitignore
    eol = lf
    autocrlf = input
[fetch]
    prune = true
[pull]
    rebase = false
    ff = yes
[push]
    default = current
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[merge]
    ff = no
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
