[core]
    editor = vim
    # editor = code --wait
    # editor = subl -n -w
    excludesfile = ~/.gitignore
    eol = lf
    autocrlf = input
[fetch]
    prune = true
[push]
    default = current
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[alias]
    amend = commit --amend
    graph = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    HEAD = push origin HEAD
    new-orphan = "!f() { git checkout --orphan \"$1\" && git reset * && git clean -fxfd; }; f"
    undo = reset --soft HEAD^   # Unstages the last commit while keeping its changes
